# Frontend
frontend/node_modules/
frontend/dist/

# Backend
backend/node_modules/
backend/dist/

# Shared
.env
.env.*
frontend/.env
coverage/
backend/coverage/
*.log
.vscode/
.idea/
.DS_Store
Thumbs.db
*.tsbuildinfo

# DevOps
docker-compose.yml