# Frontend
frontend/secret-notes/node_modules/
frontend/secret-notes/dist/

# Backend
backend/node_modules/
backend/dist/

# Shared
.env
.env.*
coverage/
*.log
.vscode/
.idea/
.DS_Store
Thumbs.db
*.tsbuildinfo

# DevOps
Dockerfile
docker-compose.yml
.github/