.card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: #1F1F21;
    padding: 2em;
    width: 400px;
    /*border: 2px solid #1C2B42;*/
    border-radius: 5px;    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: relative;
}